---
layout: default
title: Front page
---
<div class='container'>


{% for feature in site.data.features %}
  {% assign loopindex = forloop.index | modulo: 3 %}
  {% if loopindex == 1 %}
    <div class='row'>
  {% endif %}

    <a class='col-4 feature_col' href='{{feature.url}}'>
      <div class=feature>
        <div class='feature_heading'>{{feature.name}}</div>
        <div class='feature_illustration'><img class='feature_img' src='images/features/{{feature.img}}'></div>
        <div class='feature_description'>
        </div>
      </div>
    </a> <!-- end col -->

  {% if loopindex == 0 %}
    </div> <!-- end row -->
  {% endif %}
{% endfor %}





  </div> <!-- end row -->










</div>
