---
layout: default
---

<div class='container'>
  <div class='row'>
    <div class='col col-md-12 catchphrase'>
      Er du kreativ, men mangler værkstedet?
    </div>
  </div>
</div>


<div class='container'>
  <div class='row'>
{% for feature in site.data.features %}
    <a class='col col-4 col-md-3 feature_col' href='{{feature.url}}'>
      <div class=feature>
        <div class='feature_heading'>{{feature.name}}</div>
        {% if feature.resize %}
          <div class='feature_illustration'>
            <img class='feature_img' src='assets/images/features/{{feature.img}}' style='max-width: {{feature.resize}}; max-height: {{feature.resize}};'>
          </div>
        {% else  %}
          <div class='feature_illustration'>
            <img class='feature_img' src='assets/images/features/{{feature.img}}'>
          </div>
        {% endif  %}
        <div class='feature_description'>
        </div>
      </div>
    </a> <!-- end col -->

{% endfor %}
  </div> <!-- end row -->
</div>


<div class='container'>
  <div class='row'>
    <div class='col col-md-12 bliv_medlem'>
      <a href="blivMedlem.html">Bliv medlem</a> for 235 kr/md (studerende halv pris) og få adgang døgnet rundt, eller deltag gratis i vores åbne arrangementer.
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col col-md-12">
      <div id="statusBox" style="display: none; background-color: green; color: white; padding: 10px; margin-bottom: 10px;">
        Lige nu er spacet åbent.
      </div>
      <script>
        document.addEventListener("DOMContentLoaded", function () {
          fetch("https://spaceapi.osaa.dk/status/json")
          .then(response => response.json())
          .then(data => {
            if (data.state && data.state.open === true) {
              document.getElementById("statusBox").style.display = "block";
            }
          })
          .catch(error => console.error("Error fetching space status:", error));
        });
      </script>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col col-md-12 news">
      <h1>Nyheder</h1>
    </div>
  </div>
</div>

{% for post in site.posts limit:3 %}
<article>
  {% include article.html %}
</article>
{% endfor %}

<div class='container'>
  <div class='row'>
    <div class='col col-md-12 news'>
      <a href="/news/">Se flere nyheder</a>
    </div>
  </div>
</div>
