/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #ccc;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: black;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

p {
  text-align: left;
}


.cover-container {
  max-width: 42em;
}


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}



.feature {
  background-color: white;
}


.feature_col {
  padding: 3px;
}

.feature {
  border: 3px transparent solid;
  border-radius: 6px 15px;
  margin: 0px;
  transition: 0.4s;
}

.feature:hover {
  border: 3px black solid;
  transition: 0.4s;
}


.feature_heading {
  font-family: Bender;
  font-weight: bold;
  font-size: 16pt;
  color: black;
}

.feature_img {
  height: 100px;
  margin: 10px;
}


h1 {
  font-family: Bender;
}

@font-face {
    font-family: Bender;
    src: url("Bender/Jovanny Lemonad - Bender.otf") format("opentype");
}

@font-face {
    font-family: Bender;
    font-weight: bold;
    src: url("Bender/Jovanny Lemonad - Bender-Bold.otf") format("opentype");
}

li {
  text-align: left;
}

.specs_table td {
  padding-left: 8px;
  padding-right: 8px;
}

.specs_table td, .specs_table td {
  border: 1px black solid;
}
