<header class="masthead">
  <div class="inner">
    <a href='/'><h3 class="masthead-brand"> <img class='osaa_logo' src='/osaa_logo_40px.png'> {{ site.title }}</h3></a>
    <nav class="nav nav-masthead justify-content-center">
      {% for node in site.data.navbar %}
        {% if page.url == node.url %}
          <a href="{{node.url}}" class="nav-link active">{{node.title}}</a>
        {% else %}
          <a href="{{node.url}}" class="nav-link">{{node.title}}</a>
        {% endif %}
      {% endfor %}
    </nav>
  </div>
</header>
