<div class="container">
  <div class='row'>
    <div class='col'>
      <nav class="navbar navbar-expand-md navbar-light rounded">
        <a class="navbar-brand" href="/">
          <img class='osaa_logo' src='assets/images/osaa_logo.png' style='max-width: 35px; max-height: 35px;'>
          OPEN SPACE AARHUS
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="navbar-nav ml-auto">

            {% for node in site.data.navbar %}
              {% if page.url == node.url %}
                <li class="nav-item active">
                  <a class="nav-link" href="{{ node.url | link  }}">{{node.title}} <span class="sr-only">(current)</span></a>
                </li>
              {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="{{node.url}}">{{node.title}}</a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>
