<header class="masthead">
  <div class="inner">
    <div class='container' style='background-color: green;'>
      <div class='row'>
        <div class='row' style='background: red;'>logo</div>
        <div style='background: blue;'>Open Space Aarhus</div>
        <div style='background: yellow;'>menu menu menu menu menu</div>
      </div>
    </div>


    <a href='index.html'> <img class='osaa_logo' src='assets/images/osaa_logo.png'> </a>
    <div style='display: inline-block; background-color: red;'>
    <h2 class="masthead-brand"> OPEN SPACE AARHUS </h2>

    <nav class="nav nav-masthead justify-content-center">
      {% for node in site.data.navbar %}
        {% if page.url == node.url %}
          <a href="{{node.url}}" class="nav-link active">{{node.title}}</a>
        {% else %}
          <a href="{{node.url}}" class="nav-link">{{node.title}}</a>
        {% endif %}
      {% endfor %}
    </nav>
    </div>
  </div>
</header>
