/*
 * Globals
 */

/* Links */
/* a,
a:focus,
a:hover {
  color: #fff;
} */

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #ccc;
}

body {
  /* display: -ms-flexbox;
  display: flex; */
  color: black;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  /*box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);*/
}

p {
  text-align: left;
}


.cover-container {
  max-width: 42em;
}


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 500;
  color: rgba(0, 0, 0, 1.0);
  font-family: Bender;
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}



.feature {
  background-color: white;
}

.col {
  padding: 8px;
}


.feature_col {
  padding-top: 8px;
  padding-bottom: 8px;
}

.feature {
  border: 3px transparent solid;
  border-radius: 6px 15px;
  margin: 0px;
  transition: 0.4s;
}

.feature:hover {
  border: 3px black solid;
  transition: 0.4s;
}


.feature_heading {
  font-family: Bender;
  font-weight: bold;
  font-size: 16pt;
  color: black;
}

.feature_illustration {
  height: 100px;
  width: 140px;
  margin: auto;
  margin-bottom: 7px;
  display: block;
  position: relative;
}

.feature_img {
  max-width:100%;
  max-height:100%;
  margin: auto;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


h1 {
  font-family: Bender;
}

@font-face {
    font-family: Bender;
    src: url("../fonts/Bender/Jovanny Lemonad - Bender.otf") format("opentype");
}

@font-face {
    font-family: Bender;
    font-weight: bold;
    src: url("../fonts/Bender/Jovanny Lemonad - Bender-Bold.otf") format("opentype");
}

li {
  text-align: left;
}

.specs_table td {
  padding-left: 8px;
  padding-right: 8px;
}

.specs_table td, .specs_table td {
  border: 1px black solid;
}

.osaa_logo {
  height: 80px;
}

.masthead-brand {
  font-family: Bender;
}

.masthead a {
  color: black;
}

.catchphrase {
  font-size: 25pt;
  margin-top: 20px;
  margin-bottom: 40px;
}

.bliv_medlem {
  font-size: 15pt;
  margin-top: 30px;
  margin-bottom: 50px;
}


a {
  /* text-shadow: 0 .02rem .02rem rgba(0, 0, 0, .5); */
  color: rgb(0,0,255,1);
}

.links_table td {
  text-align: left;
  vertical-align: top;
  padding: 12px;
}
.links_table td:first-child a {
  white-space: nowrap;
}

h3, h5 {
  text-align: left;
  font-family: Bender;
  font-weight: bold;
  margin-top: 30px;
}

.gallery_img {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.navbar-brand {
  font-family: Bender;
}

.nav-link {
  font-family: Bender;
}
