
#wrapper {
  width: 100%;
  height: 100%;
  background-color: #ccc;
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  background-image: url("/assets/images/OSAA_4K_background.svg");
}

body {
  color: black;
  text-shadow: 1 .05rem .05rem rgba(0, 0, 0, .5);
}

/*TODO: Er denne nødvendig? Er det ikke mærkeligt, at en P har default center?*/
p {
  text-align: left;
}

.col {
  padding: 8px;
}

.feature_col {
  padding-top: 8px;
  padding-bottom: 8px;
}

.feature {
  background-color: transparent;
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .2);
  border: 3px #aaa solid;
  border-radius: 6px 15px;
  margin: 0px;
  transition: 0.4s;
}

.feature:hover {
  border: 3px black solid;
  transition: 0.4s;
}

.feature_col:hover {
  text-decoration: none;
}


.feature_heading {
  font-family: Bender;
  font-weight: bold;
  font-size: 8pt;
  color: black;
}

.feature_illustration {
  height: 100px;
  /* width: 140px; */
  max-width:100%;
  margin: auto;
  margin-bottom: 7px;
  display: block;
  position: relative;
}

.feature_img {
  max-width:100%;
  max-height:100%;
  margin: auto;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


h1,h2,h3,h4,h5 {
  font-family: Bender;
}

h3 {
  border-bottom: black solid 2px;
  font-size: 16pt;
  font-weight: bold;
  text-align: left;
}

h5 {
  border-bottom: black dashed 1px;
  font-size: 14pt;
  font-weight: regular;
  text-align: left;
}

@font-face {
    font-family: Bender;
    src: url("../fonts/Bender/Jovanny Lemonad - Bender.otf") format("opentype");
}

@font-face {
    font-family: Bender;
    font-weight: bold;
    src: url("../fonts/Bender/Jovanny Lemonad - Bender-Bold.otf") format("opentype");
}

li {
  text-align: left;
}

.specs_table td {
  padding-left: 8px;
  padding-right: 8px;
}

.specs_table td, .specs_table td {
  border: 1px black solid;
}

.osaa_logo {
  height: 80px;
}

.masthead-brand {
  font-family: Bender;
}

.masthead a {
  color: black;
}

.catchphrase {
  font-size: 25pt;
  margin-top: 0px;
  margin-bottom: 10px;
}

.bliv_medlem {
  font-size: 15pt;
  margin-top: 30px;
  margin-bottom: 50px;
}

.links_table td {
  text-align: left;
  vertical-align: top;
  padding: 12px;
}
.links_table td:first-child a {
  white-space: nowrap;
}

.gallery_img {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.navbar-brand {
  font-family: Bender;
  font-weight: regular;
}

.nav-link {
  font-family: Bender;
}

.nav-item.active {
  /* font-weight: bold; */
  text-decoration: underline;
}

/* TODO: find ud af, hvordan man laver mere elegant responsive font sizing */

@media (min-width: 768px) {
  .feature_heading {font-size:12pt;} /*1rem = 16px*/
}
